**Python Codes**

Arithmetic Operators

In [1]:
# Operator wo symbol hota hai jo operands (values/variables) par operation perform karta hai.
# | Operator | Meaning        | Example        |
# | -------- | -------------- | -------------- |
# | `+`      | Addition       | `10 + 5 = 15`  |
# | `-`      | Subtraction    | `10 - 5 = 5`   |
# | `*`      | Multiplication | `10 * 5 = 50`  |
# | `/`      | Division       | `10 / 5 = 2.0` |
# | `%`      | Modulus        | `10 % 3 = 1`   |
# | `//`     | Floor division | `10 // 3 = 3`  |
# | `**`     | Power          | `2 ** 3 = 8`   |
print(10 + 3)
print(10 // 3)
print(2 ** 4)

13
3
16

Relational / Comparison Operators

In [2]:
# Result True ya False hota hai
# | Operator | Meaning          |
# | -------- | ---------------- |
# | `==`     | Equal            |
# | `!=`     | Not equal        |
# | `>`      | Greater          |
# | `<`      | Less             |
# | `>=`     | Greater or equal |
# | `<=`     | Less or equal    |
print(10 > 5)    # True
print(10 == 5)   # False

True
False

Logical Operators

In [3]:
# | Operator | Meaning      |
# | -------- | ------------ |
# | `and`    | Both true    |
# | `or`     | Any one true |
# | `not`    | Reverse      |
x = 10
print(x > 5 and x < 20)   # True
print(not(x > 5))        # False

True
False

Assignment Operators

In [4]:
# | Operator | Example  |
# | -------- | -------- |
# | `=`      | `x = 5`  |
# | `+=`     | `x += 2` |
# | `-=`     | `x -= 2` |
# | `*=`     | `x *= 2` |
# | `/=`     | `x /= 2` |
# | `%=`     | `x %= 2` |
x = 10
x += 5
print(x)   # 15

15

Bitwise Operators

In [5]:
# | Operator | Meaning     |    |
# | -------- | ----------- | -- |
# | `&`      | AND         |    |
# | `        | `           | OR |
# | `^`      | XOR         |    |
# | `~`      | NOT         |    |
# | `<<`     | Left shift  |    |
# | `>>`     | Right shift |    |
a = 5   # 101
b = 3   # 011
print(a & b)   # 1

1

Membership Operators

In [6]:
# | Operator | Meaning     |
# | -------- | ----------- |
# | `in`     | present     |
# | `not in` | not present |
lst = [1,2,3]
print(2 in lst)      # True
print(5 not in lst)  # True

True
True

Identity Operators

In [7]:
# | Operator | Meaning          |
# | -------- | ---------------- |
# | `is`     | same object      |
# | `is not` | different object |
a = [1,2]
b = a
c = [1,2]

print(a is b)   # True
print(a is c)   # False

True
False

Operator Precedence

In [ ]:
# ()

# **

# *, /, //, %

# +, -

# Relational

# Logical

Simple if Statement

In [8]:
# if condition:
#     statement
x = 10
if x > 0:
    print("Positive number")

Positive number

if–else Statement

In [9]:
# if condition:
#     statement
# else:
#     statement
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number: 10
Even number

if–elif–else (Multiple Conditions)

In [10]:
# if condition1:
#     statement
# elif condition2:
#     statement
# else:
#     statement
marks = int(input("Enter marks: "))

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 50:
    print("Grade C")
else:
    print("Fail")

Enter marks: 20
Fail

Nested if–else (if ke andar if)

In [11]:
num = int(input("Enter a number: "))

if num > 0:
    if num % 2 == 0:
        print("Positive Even")
    else:
        print("Positive Odd")
else:
    print("Negative number")

Enter a number: 10
Positive Even

Short Hand if–else (Ternary Operator)

In [12]:
a = 10
b = 20

max = a if a > b else b
print(max)

20

Modules

In [13]:
# Module ek Python file hoti hai jisme functions, variables aur classes likhe hote hain,jise hum dusre program me use kar sakte hain.
# Code reuse
# Program ko organized banana
# Readability improve
# Large programs ko manage karna easy

# Built-in Modules️ - math , sys , random , keyword , datetime
import math

print(math.sqrt(16))
print(math.factorial(5))

from math import sqrt
print(sqrt(25))

from math import *
print(pi)

import math as m
print(m.sqrt(36))

# ️User-defined Modules
# External / Third-party Modules

4.0
120
5.0
3.141592653589793
6.0

while Loop (CONDITION BASED)

In [14]:
# while condition:
#     statement

i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

for Loop (SEQUENCE BASED)

In [15]:
# for variable in sequence:
#     statement

for i in range(1, 6):
    print(i)

1
2
3
4
5

range()

In [16]:
# range(start, stop, step)

range(5)        # 0 to 4
range(1, 6)     # 1 to 5
range(1, 10, 2) # 1 3 5 7 9

range(1, 10, 2)

break Statement

In [17]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

continue Statement

In [18]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

pass Statement

In [19]:
for i in range(3):
    pass

Nested Loop (Loop ke andar loop)

In [20]:
for i in range(1, 4):
    for j in range(1, 3):
        print(i, j)

1 1
1 2
2 1
2 2
3 1
3 2