**Python Codes**

Arithmetic Operators

In [2]:
# Operator wo symbol hota hai jo operands (values/variables) par operation perform karta hai.
# | Operator | Meaning        | Example        |
# | -------- | -------------- | -------------- |
# | `+`      | Addition       | `10 + 5 = 15`  |
# | `-`      | Subtraction    | `10 - 5 = 5`   |
# | `*`      | Multiplication | `10 * 5 = 50`  |
# | `/`      | Division       | `10 / 5 = 2.0` |
# | `%`      | Modulus        | `10 % 3 = 1`   |
# | `//`     | Floor division | `10 // 3 = 3`  |
# | `**`     | Power          | `2 ** 3 = 8`   |
print(10 + 3)
print(10 // 3)
print(2 ** 4)

13
3
16

Relational / Comparison Operators

In [3]:
# Result True ya False hota hai
# | Operator | Meaning          |
# | -------- | ---------------- |
# | `==`     | Equal            |
# | `!=`     | Not equal        |
# | `>`      | Greater          |
# | `<`      | Less             |
# | `>=`     | Greater or equal |
# | `<=`     | Less or equal    |
print(10 > 5)    # True
print(10 == 5)   # False

True
False

Logical Operators

In [4]:
# | Operator | Meaning      |
# | -------- | ------------ |
# | `and`    | Both true    |
# | `or`     | Any one true |
# | `not`    | Reverse      |
x = 10
print(x > 5 and x < 20)   # True
print(not(x > 5))        # False

True
False

Assignment Operators

In [5]:
# | Operator | Example  |
# | -------- | -------- |
# | `=`      | `x = 5`  |
# | `+=`     | `x += 2` |
# | `-=`     | `x -= 2` |
# | `*=`     | `x *= 2` |
# | `/=`     | `x /= 2` |
# | `%=`     | `x %= 2` |
x = 10
x += 5
print(x)   # 15

15

Bitwise Operators

In [6]:
# | Operator | Meaning     |    |
# | -------- | ----------- | -- |
# | `&`      | AND         |    |
# | `        | `           | OR |
# | `^`      | XOR         |    |
# | `~`      | NOT         |    |
# | `<<`     | Left shift  |    |
# | `>>`     | Right shift |    |
a = 5   # 101
b = 3   # 011
print(a & b)   # 1

1

Membership Operators

In [7]:
# | Operator | Meaning     |
# | -------- | ----------- |
# | `in`     | present     |
# | `not in` | not present |
lst = [1,2,3]
print(2 in lst)      # True
print(5 not in lst)  # True

True
True

Identity Operators

In [8]:
# | Operator | Meaning          |
# | -------- | ---------------- |
# | `is`     | same object      |
# | `is not` | different object |
a = [1,2]
b = a
c = [1,2]

print(a is b)   # True
print(a is c)   # False

True
False

Operator Precedence

In [9]:
# ()

# **

# *, /, //, %

# +, -

# Relational

# Logical

Simple if Statement

In [10]:
# if condition:
#     statement
x = 10
if x > 0:
    print("Positive number")

Positive number

if–else Statement

In [11]:
# if condition:
#     statement
# else:
#     statement
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number: 2
Even number

if–elif–else (Multiple Conditions)

In [12]:
# if condition1:
#     statement
# elif condition2:
#     statement
# else:
#     statement
marks = int(input("Enter marks: "))

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 50:
    print("Grade C")
else:
    print("Fail")

Enter marks: 34
Fail

Nested if–else (if ke andar if)

In [13]:
num = int(input("Enter a number: "))

if num > 0:
    if num % 2 == 0:
        print("Positive Even")
    else:
        print("Positive Odd")
else:
    print("Negative number")

Enter a number: 56
Positive Even

Short Hand if–else (Ternary Operator)

In [14]:
a = 10
b = 20

max = a if a > b else b
print(max)

20

Modules

In [15]:
# Module ek Python file hoti hai jisme functions, variables aur classes likhe hote hain,jise hum dusre program me use kar sakte hain.
# Code reuse
# Program ko organized banana
# Readability improve
# Large programs ko manage karna easy

# Built-in Modules️ - math , sys , random , keyword , datetime
import math

print(math.sqrt(16))
print(math.factorial(5))

from math import sqrt
print(sqrt(25))

from math import *
print(pi)

import math as m
print(m.sqrt(36))

# ️User-defined Modules
# External / Third-party Modules

4.0
120
5.0
3.141592653589793
6.0

while Loop (CONDITION BASED)

In [16]:
# while condition:
#     statement

i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

for Loop (SEQUENCE BASED)

In [17]:
# for variable in sequence:
#     statement

for i in range(1, 6):
    print(i)

1
2
3
4
5

range()

In [18]:
# range(start, stop, step)

range(5)        # 0 to 4
range(1, 6)     # 1 to 5
range(1, 10, 2) # 1 3 5 7 9

range(1, 10, 2)

break Statement

In [19]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

continue Statement

In [20]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

pass Statement

In [21]:
for i in range(3):
    pass

Nested Loop (Loop ke andar loop)

In [22]:
for i in range(1, 4):
    for j in range(1, 3):
        print(i, j)

1 1
1 2
2 1
2 2
3 1
3 2

Sum of a three digit number entered by user

In [23]:
# sum of a three digit number entered by user
num = int(input("Enter a three digit number:"))
d1 = num // 100
d2 = (num // 10) % 10
d3 = num % 10

sum_digits = d1 + d2 + d3

print("Sum of digits =", sum_digits)

Enter a three digit number:23
Sum of digits = 5

Min of three given numbers

In [24]:
a = float(input("Enter first number"))
b = float(input("Enter second number"))
c = float(input("Enter third number"))

if a <= b and a <= c:
    min_num = a
elif b <= a and b <= c:
    min_num = b
else:
    min_num = c

print("Minimum number is:", min_num)

Enter first number2
Enter second number5
Enter third number4
Minimum number is: 2.0

Menu Driven Program

In [25]:
print("---- MENU ----")
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")

choice = int(input("Enter your choice: "))

if choice == 1:
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))
    print("Sum =", a + b)

elif choice == 2:
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))
    print("Difference =", a - b)

elif choice == 3:
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))
    print("Product =", a * b)

else:
    print("Invalid choice")

---- MENU ----
1. Addition
2. Subtraction
3. Multiplication
Enter your choice: 3
Enter first number: 2
Enter second number: 4
Product = 8

Table of a given number using while loop

In [26]:
n = int(input("Enter a number: "))

i = 1
while i <= 10:
    print(n, "x", i, "=", n * i)
    i += 1

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Table of a given number using for loop

In [27]:
n = int(input("Enter a number: "))

for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter a number: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Sum of all digits of a given number using while loop

In [28]:
num = int(input("Enter a number: "))

sum_digits = 0

while num > 0:
    digit = num % 10
    sum_digits = sum_digits + digit
    num = num // 10

print("Sum of digits =", sum_digits)

Enter a number: 6
Sum of digits = 6

Number Guessing Game

In [1]:
import random

number = random.randint(1, 100)
count = 0

while True:
    guess = int(input("Guess a number: "))
    count += 1

    if guess < number:
        print("Too Low")
    elif guess > number:
        print("Too High")
    else:
        print("Correct! Attempts =", count)
        break

Guess a number: 3
Too Low
Guess a number: 67
Too High
Guess a number: 45
Too High
Guess a number: 34
Too Low
Guess a number: 44
Too High
Guess a number: 39
Correct! Attempts = 6